.App {
  text-align: center;
}

.PopUp {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgb(204 239 226 / 70%);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PopUp button {
  border: none;
  background-color: rgb(204 239 226);
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.content {
  background-color: white;
  padding: 30px 20px;
  border-radius: 5px;
  position: relative;
}
